sim/*.vvp
sim/products.txt
paper/*.aux
paper/*.bbl
paper/*.blg
paper/*.fdb_latexmk
paper/*.fls
paper/*.log
paper/*.out
paper/build.log
thesis/*.aux
thesis/*.bbl
thesis/*.blg
thesis/*.fdb_latexmk
thesis/*.fls
thesis/*.log
thesis/*.out
thesis/*.toc
thesis/*.lof
thesis/*.lot
thesis/build.log
